*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(0, 0, 45);
    color:white;
    font-family:'Manrope', sans-serif;
}
main hr{
    border: 0;
    background-color: #9c97f1;
    height: 1px;
    margin: 40px 85px;
}

/* @media screen and (max-width: 500px){
    body{}
} */