.form{
    display: flex;
    justify-content: space-around;
    margin:10rem 0;
    font-size: 20px;
}

@media screen and (max-width:600px){  
    nav{
        background-color: red;
    }
}


input[type=text], select{
    width:120%;
    background-color: rgb(6, 6, 69);
    color:rgb(253, 251, 255);
    padding: 0.5rem 1rem;
    margin: 0.5rem 0;
    display: inline-block;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 20px;
}

input[type=submit]{
    width:120%;
    background-color: rgb(6, 6, 69);
    color:rgb(253, 251, 255);
    padding: 1rem 1rem;
    margin:0.5rem 1rem;
    border: 1px solid white;
    cursor:pointer;
    border-radius: 5px;
}

textarea{
    background-color: rgb(6, 6, 69);
    color:rgb(253, 251, 255);
    width:124%;
    height:80%;
    border: 1px solid white;
    margin:0.5rem 0;
    border-radius: 5px;
    resize: none;
    font-size: 20px;
    padding:10px 10px;
    scroll-behavior: smooth;
}