footer{
    background-color: rgb(20, 20, 69);
    height:150px;
}

.fourthSection{
    display:flex;
    justify-content: space-around;
    margin: 23px 122px;
    padding:30px 0;
}

.fourthSection ul{
    list-style-type: none;
}

.credits a{
    color:white;
}

.contactDetails{
    font-size: 17px;
}

@media screen and (max-width:500px) {
    footer{
        width:142vw;
        height:40vh;
    }
    .fourthSection{
        display: grid;
        grid-template-columns: auto;
    }
    #spaces{
        display: none;
    }
    li{
        font-size: 15px;
    }
    .fourthSection ul{
        padding: 10px 0;
    }
}

@media screen and (max-width:1000px){
    footer{
        width:142vw;
        height:20vh;
    }
    .fourthSection{
        display: grid;
        grid-template-columns: auto;
    }
    #spaces{
        display: none;
    }
    li{
        font-size: 15px;
    }
    .fourthSection ul{
        padding: 10px 0;
    }
}