.title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color:blue;
}

.education{
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
    
}
